<app-header class="dark"></app-header>

<section class="add__container">
  <!-- Home -->
  <article class="title__container">
    <img src="" alt="" />
    <p>| Name of Game Here</p>
  </article>
  <!-- Name of Game -->

  <section class="principal__container">
    <!-- imagem -->
    <div class="img__container">
      <img src="../../../assets/game.png" alt="" />
    </div>
    <!-- carrossel -->

    <!-- form -->

    <div class="forms__container">
      <!-- greed -->

      <!-- title -->
      <div class="d-flex mb-3">
        <input
          type="text"
          [(ngModel)]="productForm.title"
          class="game"
          id="txtProductName"
          placeholder="Enter game name"
        />
      </div>

      <!-- resume -->

      <div class="d-flex mb-3">
        <input
          type="text"
          [(ngModel)]="productForm.resume"
          class="game"
          id="txtAuthor"
          placeholder="Enter resume game here"
        />
      </div>

      <!-- Genres -->

      <div class="d-flex mb-3">
        <label for="txtCost" class="mr-3 form-label">Genres:</label>
        <input
          type="text"
          class="input-length"
          id="txtCost"
          placeholder="Select genres"
        />
      </div>

      <!-- Studio -->

      <div class="d-flex mb-3 align-items-center">
        <label for="txtCost" class="form-label">Studio:</label>
        <input
          type="text"
          class="input-length"
          id="txtCost"
          placeholder="Select one studio"
        />
      </div>

      <!-- Company -->

      <div class="d-flex mb-3">
        <label for="txtCost" class="form-label">Company:</label>
        <input
          class="input-length"
          id="txtCost"
          placeholder="Select one company"
        />
      </div>

      <!-- Platforms -->

      <div class="d-flex mb-3">
        <label for="txtCost" class="form-label">Platforms:</label>
        <input
          class="input-length"
          id="txtCost"
          placeholder="Select platforms"
        />
      </div>

      <!-- Tags -->

      <div class="d-flex mb-3">
        <label for="txtCost" class="form-label">Tags:</label>
        <input class="input-length" id="txtCost" placeholder="Select tags" />
      </div>

      <!-- Medium Price -->

      <div class="d-flex mb-3">
        <label for="txtCost" class="form-label">Medium Price:</label>
        <input
          type="number"
          [(ngModel)]="productForm.mediumPrice"
          class="input-length"
          id="txtCost"
          placeholder="Select one company"
        />
      </div>

      <!-- Release Year -->
      <div class="d-flex mb-3">
        <label for="txtCost" class="form-label">Release Year:</label>
        <input
          type="number"
          [(ngModel)]="productForm.releaseYear"
          class="input-length"
          id="txtCost"
          min="2000"
          max="2022"
          placeholder="Enter release year"
        />
      </div>

      <!-- Description -->
      <div class="d-flex mb-3">
        <label for="txtCost" class="form-label">Description:</label>
        <textarea
          name="description"
          [(ngModel)]="productForm.description"
          id="description"
          class="textarea-length"
          cols="50"
          rows="5"
          placeholder="Enter description game"
        ></textarea>
      </div>
    </div>
  </section>

  <section class="button__container">
    <!-- Cancel -->
    <button type="button" class="btn btn-cancel">Cancel</button>

    <!-- Save Game -->
    <button type="button" class="btn btn-save" (click)="update()">
      Save Game
    </button>
  </section>
</section>
