<footer>
  <!-- Direitos -->
  <article>
    <p>Coded by Tiago Garbi Tindin - Test for Job Position</p>
  </article>
  <!-- Midias Sociais -->
  <article class="midia__container">
    <!-- facebook -->
    <a class="box__img" href="">
      <img src="../../../assets/facebook.png" alt="facebook" />
    </a>
    <!-- twiter -->
    <a class="box__img" href="">
      <img src="../../../assets/twitter.png" alt="twitter" />
    </a>
    <!-- google -->
    <a class="box__img" href="">
      <img src="../../../assets/google-plus.png" alt="google-plus" />
    </a>
    <!-- youtube -->
    <a class="box__img" href="">
      <img src="../../../assets/social.png" alt="social" />
    </a>
    <!-- instagram -->
    <a class="box__img" href="">
      <img src="../../../assets/instagram.png" alt="instagram" />
    </a>
  </article>
</footer>
