main {
  height: 140vh;
  background: #1b1919;
  margin-top: 18vh;
  padding: 3vw;
  color: white;
}

.product__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3vw;
}

.p-rate {
  padding: 1vw;
  background: #f94443;
  text-align: center;
  border-radius: 10px;
  font-weight: bolder;
  width: 20%;
}

.p-rate input {
  background: #f94443;
  border: none;
  width: 50%;
  text-align: center;
  color: white;
}

.p-rate input::placeholder {
  color: white;
}

span,
h3 {
  color: #999998;
}

.product__container {
}

.product__container img {
  width: 80%;
}

.product__details {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
}

.products_rt {
  display: flex;
  text-align: center;
}

.products_rt p {
  margin-right: 3vw;
}

.description {
  width: 40vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.span-price {
  color: #f94443;
}

.btn-vote {
  background: #f94443;
  border: none;
  color: #fff;
  padding: 1vw;
  opacity: 0.7;
}

.btn-vote:hover {
  cursor: pointer;
  opacity: 1;
}

.price__container {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1vw 0;
}
