.loading {
  background: #1b1919;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading h1 {
  color: #f94443;
}

.title__container {
  width: 90vw;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.title__box {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.search__box input {
  height: 8vh;
  margin-right: 1vw;
  padding-left: 10px;
  border: 3px solid #f94443;
  background: #1b1919;
  color: #fff;
}

.search__box button {
  width: 10vw;
  border: none;
  text-transform: uppercase;
  padding: 1vw;
  background: #f94443;
  color: #fff;
  border-radius: 5px;
  opacity: 0.7;
}

.search__box button:hover {
  opacity: 1;
}

.home__container {
  margin-top: 18vh;
  background: #1b1919;
  padding: 3vw;
}

.card-body {
  text-align: center;
}

.box__container {
  background: #1b1919;
}

.card {
  margin: 1vw;
  background: #1b1919;
  color: #fff;
}

.card-price {
  margin: 1vw;
  font-size: 1.5vw;
  font-weight: bolder;
}

.card-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 50%; */
}

.card-rating p {
  width: 30%;
  background: #f94443;
  border-radius: 999px;
}

.btn-add {
  background: #f94443;
  color: white;
}

.btn-add__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ed__container {
  display: flex;
  justify-content: space-around;
}

.btn-ed__container button {
  width: 40%;
  background: #f94443;
  border-radius: 10px;
  opacity: 0.6;
}

.btn-ed__container button:hover {
  opacity: 1;
}

img {
  width: 50%;
}
