nav {
  background: #f94443;
}

.logo {
  filter: opacity(0.3) drop-shadow(0, 0, 0, #f94443);
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 18vh;
  display: flex;
  background: #f94443;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
}

.logo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__container img {
  width: 15vw;
}

.carroussel__container {
  display: flex;
  align-items: center;
}

.carroussel__container button {
  width: 30%;
  height: 30%;
  border: 2px solid red;
  color: red;
}

.search__container {
  border-radius: 999px;
  background: #fff;
  padding: 1vw;
  width: 37vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__container input {
  border: none;
  font-size: 0.5rem;
}

.search__container button {
  border-radius: 100px;
  background: #f94443;
  color: #fff;
  padding: 1vw;
  font-weight: bolder;
  text-transform: uppercase;
}

.login {
  width: 4vw;
  background: #fff;
  border-radius: 50%;
}

.search__container > input:focus {
  outline-width: 0;
}

.loading {
  background: #1b1919;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading h1 {
  color: #f94443;
}

.title__container {
  width: 90vw;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.title__box {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.search__box {
  display: flex;
  align-items: center;
}

.search__box input {
  height: 8vh;
  margin-right: 1vw;
  padding-left: 10px;
  border: 3px solid #f94443;
  background: #1b1919;
  color: #fff;
}

.search__box a {
  width: 10vw;
  border: none;
  text-transform: uppercase;
  padding: 1vw;
  background: #f94443;
  color: #fff;
  border-radius: 5px;
  opacity: 0.7;
}

.search__box button:hover {
  opacity: 1;
}

.home__container {
  margin-top: 18vh;
  background: #1b1919;
  padding: 3vw;
}

.card-body {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.card-body button {
  background: #f94443;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__container {
  background: #1b1919;
}

.card {
  margin: 1vw;
  background: #1b1919;
  color: #fff;
  padding: 1vw;
  border: 1px solid #474747;
}

.card-price {
  margin: 1vw;
  font-size: 1.5vw;
  font-weight: bolder;
}

.card-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 50%; */
}

.card-rating p {
  width: 50%;
  background: #f94443;
  border-radius: 999px;
  margin: 2vw 0 4vw 0;
}

.btn-add {
  background: #f94443;
  color: white;
}

.btn-add__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ed__container {
  display: flex;
  justify-content: space-around;
}

.btn-ed__container button {
  width: 40%;
  background: #f94443;
  border-radius: 10px;
  opacity: 0.6;
}

.btn-ed__container button:hover {
  opacity: 1;
}

img {
  width: 90%;
  margin: 2vw;
}
