<header>
  <!-- logo -->
  <article class="logo__container">
    <a routerLink="">
      <img src="../../../assets/tindin-logo.png" alt="" />
    </a>
  </article>
  <!-- search -->
  <article class="search__container" *ngIf="token">
    <input
      type="text"
      [(ngModel)]="inputSearch"
      placeholder="Search Game Here"
      #newItem
    />
    <button type="button" (click)="gameSearch()">search</button>
  </article>
  <!-- user -->
  <a routerLink="/login">
    <img class="t" src="../../../assets/user.png" alt="" />
  </a>
</header>

<section *ngIf="verify" class="loading">
  <h1>Loading!</h1>
</section>

<section class="home__container">
  <section *ngIf="token" class="carroussel__container">
    <button (click)="decrease()"><</button>
    <img src="{{ targetImage.url }}" alt="{{ targetImage.name }}" />
    <button (click)="increase()">></button>
  </section>
  <section *ngIf="!token" class="title__container">
    <article class="title__box">
      <!-- Games -->
      <h3>Games</h3>
      <!-- Games Manager -->
      <h5>Games manager portal</h5>
    </article>
    <article class="search__box">
      <input
        type="text"
        name=""
        id=""
        [(ngModel)]="inputSearch"
        placeholder="search from..."
        (ngModelChange)="gameSearch()"
      />
      <a routerLink="/add-product" class="btn btn-add"> new game </a>
    </article>
  </section>
  <section></section>
  <section class="row row-cols-1 row-cols-md-3">
    <section class="box__container col" *ngFor="let product of games">
      <section class="card">
        <article class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
        </article>
        <ul class="text-center list-group list-group-flush">
          <a [routerLink]="['/edit', product._id]">
            <img src="{{ product.photos }}" alt="{{ product.title }}" />
          </a>
          <p class="card-price">{{ product.mediumPrice | currency }}</p>
          <div class="card-rating">
            <p>{{ product.rating }} / 10</p>
          </div>
          <div class="btn-ed__container">
            <a [routerLink]="['/edit', product._id]" class="btn btn-dark"
              >Edit</a
            >
            <button
              class="btn btn-dark"
              (click)="openDeleteModal(product._id!)"
            >
              Delete
            </button>
          </div>
        </ul>
      </section>
    </section>

    <!-- Modal -->
    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">Are sure to delete this item?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-danger" (click)="delete()">
              Confirm Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
