.loading {
  background: #1b1919;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading h1 {
  color: #f94443;
}

.home__container {
  margin-top: 18vh;
  background: #1b1919;
  padding: 3vw;
}

.card-body {
  text-align: center;
}

.card {
  margin: 1vw;
  background: #1b1919;
  color: #fff;
}

.card-price {
  margin: 1vw;
  font-size: 1.5vw;
  font-weight: bolder;
}

.card-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 50%; */
}

.card-rating p {
  width: 30%;
  background: #f94443;
  border-radius: 999px;
}

.btn-add {
  background: #f94443;
  color: white;
}

.btn-add__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ed__container {
  display: flex;
  justify-content: space-around;
}

.btn-ed__container button {
  width: 40%;
  background: #f94443;
  border-radius: 10px;
  opacity: 0.6;
}

.btn-ed__container button:hover {
  opacity: 1;
}
