<main>
  <form action="">
    <article class="title__container">
      <h1>Sign In</h1>
      <h5>Insert you Account Information</h5>
    </article>
    <article class="access__container">
      <label for="email">
        <input
          type="email"
          id="email"
          class="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Username or Email"
          required
        />
      </label>
      <label for="">
        <input
          type="password"
          id="password"
          class="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Password"
          required
        />
      </label>
      <button>Login your Account</button>
      <p>
        No account?
        <a href="fabio@tindin.com.br" target="_blank" rel="noopener noreferrer">
          Send email fabio@tindin.com.br
        </a>
      </p>
    </article>
  </form>
</main>
