<app-header class="dark"></app-header>
<main>
  <form action="" (ngSubmit)="login()">
    <article class="title__container">
      <h1>Sign In</h1>
      <h5>Insert you Account Information</h5>
    </article>
    <article class="access__container">
      <label for="email">
        <input
          placeholder="Username or Email"
          type="email"
          id="email"
          class="email"
          name="email"
          [(ngModel)]="email"
          required
        />
      </label>
      <label for="">
        <input
          placeholder="Password"
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </label>
      <button type="submit">Login your Account</button>
      <p>
        No account?
        <a href="fabio@tindin.com.br" target="_blank" rel="noopener noreferrer">
          Send email fabio@tindin.com.br
        </a>
      </p>
    </article>
  </form>
</main>
